body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    color: #ff6f61;
    margin-bottom: 20px;
}

input[type="datetime-local"] {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ff6f61;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4d40;
}

p#dateDisplay {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #ff6f61;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
}

.container {
        width: 90%;
        padding: 15px;
}

input[type="datetime-local"], button {
        font-size: 1rem;
        width: 100%;
    }
}

video{
    width: 50%
}

